.new-loads__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-loads__item {
    padding: 1em 4em;
    border: 3px solid #006f6f;
    margin: 1em 2em;
    box-shadow: 2px 2px 8px #005151;
    text-align: center;
    width: 40em;
    background-color: #ffffff;
}

.new-loads__item-title {
    padding: 1em 0;
    word-wrap: break-word;
    white-space: normal;

}

.new-loads__item-info {
    margin-bottom: 1em;
}

.new-loads__item-button {
    cursor: pointer;
    padding: 1em 2em;
    background-color: #006f6f;
    border: 0;
    color: #ffffff;
    outline: none;
    font-weight: 700;
}

.new-loads__item-button:hover {
    background-color: #005151;
}

.new-loads__no-items {
    font-size: 20px;
    font-weight: 600;
}
