.message-container {
    position: absolute;
    top: 50%;
    right: 10%;
    border: 2px solid #005151;
    background-color: #465a5c;
    box-shadow: 2px 2px 10px #003535;
}

.message__title {
    font-size: 24px;
    color: #ffffff;
}
