.registration {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5%;
    background-color: #d3d3d3;
}


.form {
    display: flex;
    flex-direction: column;
    border: 5px solid #58aaae;
    box-shadow: 3px 3px 12px grey;
    width: 30em;
    margin: 0;
    padding: 2%;
    text-align: center;
    background-color: #ffffff;
}

.form__container {
    margin: 15px 0;
}

.form__input {
    border: 2px solid #006f6f;
    padding: 10px;
    width: 60%;
    border-radius: 3px;
    outline: none;
    text-indent: 3px;
}

.form__label {
    width: 85px;
    display: inline-block;
}

.form__submit-button {
    color: white;
    font-weight: 700;
    padding: 3%;
    width: 150px;
    outline: none;
    border: none;
    background-color: #006f6f;
}

.form__submit-button:hover {
    background-color: #005151;
}
