.shipments__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.shipments__item {
    padding: 1em 4em;
    border: 3px solid #006f6f;
    margin: 1em 2em;
    box-shadow: 2px 2px 8px #005151;
    text-align: center;
    width: 40em;
    background-color: #ffffff;
}

.shipments__item-title {
    padding: 1em 0;
    word-wrap: break-word;
    white-space: normal;
}

.shipments__item-info {
    margin-bottom: 1em;
}

.shipments__no-items {
    font-size: 20px;
    font-weight: 600;
}

.shipments__item-button {
    margin: 0 1em;
}
