
/* PERSONAL PAGE */

.personal-section {
    background-color: #d3d3d3;
}

.notes__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1% 0 3%;
}

.notes__form {
    text-align: center;
    padding-bottom: 3%;
}

.notes__form-input-container {
    padding-bottom: 10%;
}

.notes__input {
    width: 300px;
    outline: none;
    height: 40px;
    border-radius: 1px;
    border: 2px solid #006f6f;
    box-shadow: 2px 2px 10px #465a5c;
    text-indent: 10px;
}

.notes__create-button,
.notes__item-button {
    white-space: nowrap;
    width: 180px;
    padding: 5%;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    color: #ffffff;
    background-color: #006f6f;
}

.notes__item-button {
    width: 100px;
}

.notes__create-button:hover,
.notes__item-button:hover {
    background-color: #005151;
}

.notes__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.notes__item {
    flex-basis: 30%;
    margin: 10px;
    padding: 30px;
    background-color: #ffffff;
    border: 2px solid #006f6f;
    box-shadow: 2px 2px 10px #465a5c;
}

.notes__button-container {
    margin-top: 10%;
}
